@media(min-width: 350px) and (max-width:600px){
    .header .container .nav{
        display: block ;
        flex-direction: column;
        justify-content: center ;
        align-items: center ;
        height: 200px ;
        width: 400px !important;
        position: absolute !important;
        right: -20px !important;
        top: -30px !important;
        background-color: #534f4f94;
        transform: translate(-10% , 30%);
    }

    .small-slide{
        width: 1000px !important;
    }

    .slider .slides  .slide .container1 button , .slide .container2 button , .slide .container3 button{
        left: 400px !important;
    }

    .slider .slides .slide .container1 .rate , .slide .container2 .rate , .slide .container3 .rate{
        left: 580px !important;
    }

    .slide .container1 .text , .slide .container2 .text , .slide .container3 .text{
        position: absolute;
        left: 400px !important;
        font-size: small !important;
    }

    .container1 img , .container2 img ,.container3 img{
        width: 900px !important;
    }

    .slider{
        width: 1000px !important;
    }
    
    .slides{
        width: 1800px !important;
        display:flex !important;
    }

    .slide{
        width: 900px !important;
    }

    .content .container .logos img:nth-child(1){
        width: 150px !important;
        left: 20px !important;
    }


    .content .container .logos img:nth-child(2){
        width: 150px !important;
        left: 200px !important;
    }

    .content .container .logos img:nth-child(3){
        width: 150px !important;
        left: 200px !important;
    }

    .content .container .description{
        left: -550px !important;
    }


    .smallt{
        font-size:medium;
    }
    .Chiefs .container h1::after{
            left: 0px !important;
            width: 50px !important;
    }
    .content .container h1::after{
        width: 80px !important;
        height: 5px !important;
        left: 1px !important;
    }

    .smallp{
        font-size: medium !important;
        line-height: 22px!important;
    }
    .smallp1{
        left: 50px !important;
        width: 700px !important;
    }

    .content .container .description button{
        width: 100px !important;
        font-size: 10px;
    }

    .categories .container .food {
        left: 80px !important;
        width: 700px !important;
        font-size: medium !important;
    }

    .headline {
        left:450px !important;
        font-size: large !important;
    }
    .headline1{
        left:-350px !important;

    }
    

    .categories .container h1::after{
        width: 45pX !important;
        left: 0px !important;
    }

    .categories .container .items .item1 , .item2 , .item3 , .item4 , .item5 , .item6{
        width: 300px !important;
    }

    .categories .container .items .item1 img, .item2 img,.item3 img , .item4 img , .item5 img , .item6 img{
        width: 300px !important;
    }
    .categories .container .items .item1 p, .item2 p,.item3 p, .item4 p, .item5 p, .item6 p{
        left:10px !important;
        height: 70px !important;
        font-size: small !important;
        overflow: hidden !important;
    }
    

    .item1 .p2 , .item2 .p2 , .item4 .p2 , .item5 .p2 , .item6 .p2 , .item3 .p2{
        left: 200px !important;
    }

    .buttons{
        position:relative;
        left: -30px !important;
        bottom: -310px !important;
    }

    .buttons button{
        width: 100px !important;
        font-size: small;
    }


    .item2 , .item4 , .item6{
        left:450px !important;
    }

    .item3 , .item6{
        top: 2400px !important;
        left: 50px !important;
    }

    .item6{
        left: 450px !important;
    }

    footer{
        position: absolute;
        top: 900px !important;
    }

    .end{
        width: 800px !important;
    }

    .ul{
        right: 205px !important;
    }

    .ul1{
        right: 250px !important;
    }

    .up{
        right: 500px !important;
    }
}