:root {
    --Maincolor:#F93F04;
}

* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

form{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 50ms;

}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px  #a8a5a5 inset, 
                0px 0px 10px  #a8a5a5,
                0px 0px 15px    #a8a5a5 inset;
    width: 600px;
    height: 1100px;
    background-color: transparent;
    transition: 50ms;
}

.container input[type="text"], input[type="password"] , input[type="email"]{
    width: 450px;
    height: 60px;
    outline: none;
    border: none;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    outline: 2px solid var(--Maincolor);
}

#s1 , #s2 , #s3 , #s4 , #s5 , #s6{
    position: absolute;
    left: 105px;
    top: 137px;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.05s;
    color:rgb(17, 6, 6);
    letter-spacing: 0.07em;
    z-index: 1;
    text-align: center;
}

#s2{
    top: 280px;
}
#s3{
    top: 425px;
}
#s4{
    top: 570px;
}
#s5{
    top: 713px;
}
#s6{
    top: 855px;
}

.container #sub{
    width: 430px;
    height: 67px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bolder;
    border: 0;
    background-color: var(--Maincolor);
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 37px;
    color: #fff;
}

input[type="submit"]:hover{
    filter: grayscale(0.3);
    cursor:grabbing;
}


.container .in1:valid~#s1,
.container .in1:focus~#s1 {
    font-size: 1em;
    transform: translateY(-30px);
    width:100px;
    height: fit-content;
    background-color: white;
}

.container .in2:valid~#s2,
.container .in2:focus~#s2{
    font-size: 1em;
    transform: translateY(-30px);
    width:90px;
    height: fit-content;
    background-color: white;
}

.container .in3:valid~#s3,
.container .in3:focus~#s3 {
    font-size: 1em;
    transform: translateY(-30px);
    width:100px;
    height: fit-content;
    background-color: white;
}

.container .in4:valid~#s4,
.container .in4:focus~#s4 {
    font-size: 1em;
    transform: translateY(-30px);
    width:60px;
    height: fit-content;
    background-color: white;
}

.container .in5:valid~#s5,
.container .in5:focus~#s5 {
    font-size: 1em;
    transform: translateY(-30px);
    width:80px;
    height: fit-content;
    background-color: white;
}

.container .in6:valid~#s6,
.container .in6:focus~#s6 {
    font-size: 1em;
    transform: translateY(-30px);
    width:90px;
    height: fit-content;
    background-color: white;
}

.container input[type="text"]::after{
    content: " ";
    background-color:gold;
    position: absolute;
    left: 25px;
    width: 120px;
    height: 19px;
    border-radius: 20px;
}

.container h3{
    margin-top: 20px;
}
.container p{
    margin-bottom: 9px;
}



.show-it{
    position: absolute;
    bottom: 194px;
    width: 50px;
    height: 61px;
    right: 75px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:var(--Maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grabbing;
}

.show-it::after{
    content: 'Show';
    color: #fff;
}

.show-it.hide::after{
    content: 'Hide';
    color: #fff;
}

.icon1 , .icon2 , .icon3{
    position: absolute;
    top: 142px;
    right: 90px;
}
.icon2{
    top: 285px;
}
.icon3{
    top: 434px;
}
.icon4{
    position: absolute;
    top: 574px;
    right: 90px;
}
.icon5{
    position: absolute;
    bottom: 362px;
    right: 90px;
}

#s7{
    position: absolute;
    bottom: 170px;
    left: 100px;
}